[submodule "pybind11"]
	path = pybind11
	url = https://github.com/pybind/pybind11.git
[submodule "lib/glfw"]
	path = lib/glfw
	url = https://github.com/glfw/glfw.git
[submodule "lib/glm"]
	path = lib/glm
	url = https://github.com/g-truc/glm.git
[submodule "lib/picojson"]
	path = lib/picojson
	url = https://github.com/kazuho/picojson.git
[submodule "lib/stb"]
	path = lib/stb
	url = https://github.com/nothings/stb.git
[submodule "lib/tinyobjloader"]
	path = lib/tinyobjloader
	url = https://github.com/tinyobjloader/tinyobjloader.git
[submodule "lib/pcl"]
	path = lib/pcl
	url = https://github.com/PointCloudLibrary/pcl.git
[submodule "lib/eigen"]
	path = lib/eigen
	url = https://gitlab.com/libeigen/eigen.git
[submodule "lib/--force"]
	path = lib/--force
	url = https://gitlab.com/libeigen/eigen.git
[submodule "lib/imgui"]
	path = lib/imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
[submodule "lib/glew"]
	path = lib/glew
	url = https://github.com/nigels-com/glew.git
[submodule "lib/ImGuiFileBrowser"]
	path = lib/ImGuiFileBrowser
	url = https://github.com/gallickgunner/ImGui-Addons.git
[submodule "lib/PDAL"]
	path = lib/PDAL
	url = https://github.com/PDAL/PDAL.git
[submodule "lib/gdal"]
	path = lib/gdal
	url = https://github.com/OSGeo/gdal.git
[submodule "lib/PROJ"]
	path = lib/PROJ
	url = https://github.com/OSGeo/PROJ.git
[submodule "lib/curl"]
	path = lib/curl
	url = https://github.com/curl/curl.git
[submodule "lib/laz-perf"]
	path = lib/laz-perf
	url = https://github.com/hobuinc/laz-perf.git
[submodule "lib/libLAS"]
	path = lib/libLAS
	url = https://github.com/libLAS/libLAS.git
[submodule "lib/libgeotiff"]
	path = lib/libgeotiff
	url = https://github.com/OSGeo/libgeotiff.git
[submodule "lib/LASzip"]
	path = lib/LASzip
	url = https://github.com/LASzip/LASzip.git
